
*.swp

dataset-mnist.lua

images/0.png

images/1.png

images/2.png

images/3.png

images/4.png

images/5.png

images/6.png

images/7.png

images/8.png

images/9.png

images/mean.png

logs/mnist.net

logs/mnist.net.old

logs/nnmnist.net

logs/test.log

logs/test.log.eps

logs/train.log

logs/train.log.eps

mnist-th7/test.th7

mnist-th7/train.th7

train-on-mnist.lua
